@tailwind base;
  @tailwind components;
  @tailwind utilities;


@layer base {
  /* TODO
    uncomment this when light mode is setup (probably never :p)
  */
    /* :root {
      --background: 240 23% 95%;
      --foreground: 228 20% 5%;
      --card: 240 23% 95%;
      --card-foreground: 228 20% 5%;
      --popover: 240 23% 95%;
      --popover-foreground: 228 20% 5%;
      --primary: 236 40% 27%;
      --primary-foreground: 240 23% 95%;
      --secondary: 236 51% 67%;
      --secondary-foreground: 228 20% 5%;
      --muted: 240 24% 20%;
      --muted-foreground: 228 20% 70%;
      --accent: 236 63% 43%;
      --accent-foreground: 240 23% 95%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 228 20% 5%;
      --border: 240 24% 20%;
      --input: 240 24% 20%;
      --ring: 236 63% 40%;
      --radius: 0.5rem;
    } */
   
    :root {
      --radius: 0.5rem;
      --background: 240 25% 5%;
      --foreground: 228 19% 95%;
      --card: 240 25% 5%;
      --card-foreground: 228 19% 95%;
      --popover: 240 25% 5%;
      --popover-foreground: 228 19% 95%;
      --primary: 236 40% 73%;
      --primary-foreground: 240 25% 5%;
      --secondary: 236 51% 33%;
      --secondary-foreground: 228 19% 95%;
      --muted: 240 25% 80%;
      --muted-foreground: 228 19% 95%;
      --accent: 236 63% 57%;
      --accent-foreground: 228 19% 95%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 227 18% 10%;
      --border: 240 25% 60%;
      --input: 240 25% 80%;
      --ring: 236 63% 60%;
    }

    body{
      @apply bg-background text-foreground;
    }
  }